{% extends 'base.html' %}

{% load static %}

{% block title %} Lion of Judah {% endblock %}

{% block content %}
<div class="p-3 mb-2 bg-primary-subtle text-primary-emphasis card">
    <div class="card-body">
    <h1>Archive List{# now "Y m d" %}</h1>


<ul>
    {% for date in date_list %}
    <button type="button" class="btn btn-secondary" style="display: inline;"><a style="color: white;" href="{% url 'blog:post_year_archive' date|date:'Y' %}"> Year-{{date|date:'Y'}} </a></button>
    {%endfor%}
</ul>


<div>
    <ul>
        {% for post in object_list %}
        <li>{{post.modify_dy | date:"Y-m-d"}}
            <a href="{{post.get_absolute_url}}">{{post.title}}</a>

        </li>
        {% endfor %}
    </ul>
</div>
</div>
</div>


<br>
{% endblock %}
